<div class="container">
        <div class="leftSide">

            <!-- header -->
            <div class="header">
                <div class="userimg">
                    <img src="#" alt="" class="cover">
                </div>

                <ul class="nav-icon">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>

            <!-- search -->
            <div class="search-chat">
                <input type="text" placeholder="Search or start new chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>

            <!-- chat list -->
            <div class="chat-list">
                {{#each data}}

                <div class="blockchat" id="{{this.id_conversation}}">
                    <div class="imgchat">
                        <img src="{{this.img}}" alt="" class="cover">
                    </div>
                    
                    <div class="details">
                        <div class="listHead">
                            <h4>{{this.name}}</h4>
                            <p class="time">{{this.recentTime}}</p>
                        </div>
                        <div class="message">
                            <p>{{this.recentMessage}}</p>
                            <b>1</b>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>



        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <img src="#" alt="" class="">                  
                    <h4>MUHAHAHAHA</h4>
                </div>
               
                <ul class="nav-icon">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>
        
            <!-- chatbox -->
             <div class="chatbox">
                
             </div>

            <div class="chat-input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="attach-outline"></ion-icon>
                <input type="text" placeholder="type a message">
                <ion-icon name="send-outline"></ion-icon>

            </div>
        </div>

        
    </div>

<script src="/js/home.js"></script>




