<div class="find-friend">
    <div class="search-box">
        <ion-icon name="search-outline"></ion-icon>
        <input type="text" placeholder="search">
        <button>SEARCH</button>
    </div>

    <div class="list-friend">
        {{#each friend}}

        <div class="friend-box" key="{{this.key}}">
            <img src="{{this.avatar}}" alt="">
            <span>{{this.name}}</span>
            {{#if this.isFriend}}
            <button>CONNECT</button>
            {{else}}
            <p>YOUR FRIEND</p>
            {{/if}}
        </div>

        {{/each}}
        
    </div>
</div>

<div class="container">
        <div class="leftSide">

            <!-- header -->
            <div class="header">
                <div class="userimg">
                    <img src="#" alt="" class="cover" id="user-avatar">
                </div>
                <h3 id="user-name"></h3>
                <ul class="nav-icon">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>

            <!-- search -->
            <div class="search-chat">
                <input type="text" placeholder="Search or start new chat">
                <ion-icon name="search-outline"></ion-icon>
                <button>NEW FRIEND</button>
            </div>

            <!-- chat list -->
            <div class="chat-list">
                {{#each data}}

                <div class="blockchat" key="{{this.id_user}}" id="{{this.id_conversation}}">
                    <div class="imgchat">
                        <img src="{{this.avatar}}" alt="" class="cover">
                        <div class="online"></div>
                    </div>
                    
                    <div class="details">
                        <div class="listHead">
                            <h4>{{this.name}}</h4>
                            <p class="time">{{this.recentTime}}</p>
                        </div>
                        <div class="message">
                            <p>{{this.recentMessage}}</p>
                            {{!-- <b></b> --}}
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>

        <div class="rightSide">
            <div class="header">
                <div class="imgText">
                    <img src="" alt="" class="" id="chating-avatar">                  
                    <h4 id="chating-name"></h4>
                </div>
               
                <ul class="nav-icon">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
                </ul>
            </div>
        
            <!-- chatbox -->
             <div class="chatbox">
                
             </div>

            <div class="chat-input">
                <ion-icon name="happy-outline"></ion-icon>
                <ion-icon name="attach-outline"></ion-icon>
                <input type="text" placeholder="type a message">
                <ion-icon name="send-outline"></ion-icon>

            </div>
        </div>

        
    </div>

<script type="module" src="/js/home.js"></script>
<script type="module" src="/js/ListMessage.js"></script>





